



.fl-node-5ce0beec2d0a4 .fl-bg-video-audio {
	display: none;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	width: 20px;
}
.fl-node-5ce0beec2d0a4 .fl-bg-video-audio .fl-audio-control {
	font-size: 20px;
}
.fl-node-5ce0beec2d0a4 .fl-bg-video-audio .fa-times {
	font-size: 10px;
	vertical-align: middle;
	position: absolute;
	top: 5px;
	left: 11px;
	bottom: 0;
}

.fl-node-5ce0beec2d0a4 > .fl-row-content-wrap {
	background-color: #000814;
}
@media(max-width: 992px) {
}
@media(max-width: 768px) {
}




.fl-node-5ce0bbfdb12d0 .fl-bg-video-audio {
	display: none;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	width: 20px;
}
.fl-node-5ce0bbfdb12d0 .fl-bg-video-audio .fl-audio-control {
	font-size: 20px;
}
.fl-node-5ce0bbfdb12d0 .fl-bg-video-audio .fa-times {
	font-size: 10px;
	vertical-align: middle;
	position: absolute;
	top: 5px;
	left: 11px;
	bottom: 0;
}

.fl-node-5ce0bbfdb12d0 > .fl-row-content-wrap {
	background-color: #FFD100;
	border-style: solid;
	border-width: 0;
	background-clip: padding-box;
	border-color: #01050c;
}
@media(max-width: 992px) {
}
@media(max-width: 768px) {
}




.fl-node-5ce0c1b26185b .fl-bg-video-audio {
	display: none;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	width: 20px;
}
.fl-node-5ce0c1b26185b .fl-bg-video-audio .fl-audio-control {
	font-size: 20px;
}
.fl-node-5ce0c1b26185b .fl-bg-video-audio .fa-times {
	font-size: 10px;
	vertical-align: middle;
	position: absolute;
	top: 5px;
	left: 11px;
	bottom: 0;
}

@media(max-width: 992px) {
}
@media(max-width: 768px) {
}
 .fl-node-5ce0c1b26185b > .fl-row-content-wrap {
	padding-top:10px;
}




.fl-node-5ce0d274d340b .fl-bg-video-audio {
	display: none;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	width: 20px;
}
.fl-node-5ce0d274d340b .fl-bg-video-audio .fl-audio-control {
	font-size: 20px;
}
.fl-node-5ce0d274d340b .fl-bg-video-audio .fa-times {
	font-size: 10px;
	vertical-align: middle;
	position: absolute;
	top: 5px;
	left: 11px;
	bottom: 0;
}

.fl-node-5ce0d274d340b > .fl-row-content-wrap {
	background-color: #000814;
}
@media(max-width: 992px) {
}
@media(max-width: 768px) {
}




.fl-node-5ce0e0b50d431 .fl-bg-video-audio {
	display: none;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	width: 20px;
}
.fl-node-5ce0e0b50d431 .fl-bg-video-audio .fl-audio-control {
	font-size: 20px;
}
.fl-node-5ce0e0b50d431 .fl-bg-video-audio .fa-times {
	font-size: 10px;
	vertical-align: middle;
	position: absolute;
	top: 5px;
	left: 11px;
	bottom: 0;
}

@media(max-width: 992px) {
}
@media(max-width: 768px) {
}




.fl-node-5ce0e2a56f3e8 .fl-bg-video-audio {
	display: none;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	width: 20px;
}
.fl-node-5ce0e2a56f3e8 .fl-bg-video-audio .fl-audio-control {
	font-size: 20px;
}
.fl-node-5ce0e2a56f3e8 .fl-bg-video-audio .fa-times {
	font-size: 10px;
	vertical-align: middle;
	position: absolute;
	top: 5px;
	left: 11px;
	bottom: 0;
}

.fl-node-5ce0e2a56f3e8 > .fl-row-content-wrap {
	background-color: #000814;
}
@media(max-width: 992px) {
}
@media(max-width: 768px) {
}




.fl-node-5ce0eefa0b3db .fl-bg-video-audio {
	display: none;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	width: 20px;
}
.fl-node-5ce0eefa0b3db .fl-bg-video-audio .fl-audio-control {
	font-size: 20px;
}
.fl-node-5ce0eefa0b3db .fl-bg-video-audio .fa-times {
	font-size: 10px;
	vertical-align: middle;
	position: absolute;
	top: 5px;
	left: 11px;
	bottom: 0;
}

.fl-node-5ce0eefa0b3db > .fl-row-content-wrap {
	background-color: #ffd100;
}
@media(max-width: 992px) {
}
@media(max-width: 768px) {
}




.fl-node-5ce0f259cb04d .fl-bg-video-audio {
	display: none;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	width: 20px;
}
.fl-node-5ce0f259cb04d .fl-bg-video-audio .fl-audio-control {
	font-size: 20px;
}
.fl-node-5ce0f259cb04d .fl-bg-video-audio .fa-times {
	font-size: 10px;
	vertical-align: middle;
	position: absolute;
	top: 5px;
	left: 11px;
	bottom: 0;
}

@media(max-width: 992px) {
}
@media(max-width: 768px) {
}
 .fl-node-5ce0f259cb04d > .fl-row-content-wrap {
	padding-top:10px;
}




.fl-node-5ce0beec59636 {
	width: 100%;
}
@media(max-width: 992px) {
}
@media(max-width: 768px) {
}




.fl-node-5ce0bbfdd16a4 {
	width: 33.33%;
}
@media(max-width: 992px) {
}
@media(max-width: 768px) {
}




.fl-node-5ce0bbfdd16aa {
	width: 33.33%;
}
@media(max-width: 992px) {
}
@media(max-width: 768px) {
}




.fl-node-5ce0bbfdd16ad {
	width: 33.33%;
}
@media(max-width: 992px) {
}
@media(max-width: 768px) {
}




.fl-node-5ce0c1b285648 {
	width: 100%;
}
@media(max-width: 992px) {
}
@media(max-width: 768px) {
}




.fl-node-5ce0d2752bad2 {
	width: 100%;
}
@media(max-width: 992px) {
}
@media(max-width: 768px) {
}




.fl-node-5ce0e0b55af31 {
	width: 100%;
}
@media(max-width: 992px) {
}
@media(max-width: 768px) {
}




.fl-node-5ce0e2a5ac34c {
	width: 100%;
}
@media(max-width: 992px) {
}
@media(max-width: 768px) {
}




.fl-node-5ce0eefa59d30 {
	width: 25%;
}
@media(max-width: 992px) {
}
@media(max-width: 768px) {
}




.fl-node-5ce0f03badd71 {
	width: 25%;
}
@media(max-width: 992px) {
}
@media(max-width: 768px) {
}




.fl-node-5ce0f15e7dede {
	width: 25%;
}
@media(max-width: 992px) {
}
@media(max-width: 768px) {
}




.fl-node-5ce0f09e0152e {
	width: 25%;
}
@media(max-width: 992px) {
}
@media(max-width: 768px) {
}




.fl-node-5ce0f259cb0d2 {
	width: 100%;
}
@media(max-width: 992px) {
}
@media(max-width: 768px) {
}
